@import url('https://fonts.cdnfonts.com/css/druk-wide-bold');


:root {
  --ff-heading: 'Druk Wide Bold', sans-serif;
  --ff: 'Noto Sans', sans-serif;
  --fw100: 100;
  --fw200: 200;
  --fw300: 300;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;
  --fw800: 800;
  --fw900: 900;

button-bg-varient01: #404EED;
}

html {
  min-width: 320px;
}

/*<<<<<<<<<<  MOBILE NAVBAR >>>>>>>>>>>>>*/


.mobile-wrapper__nav-mobile {
  padding: 0 20px;
  background: #404EED;
}

.nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.nav-mobile__logo-container a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-side-nav {
  display: flex;
  align-items: center;
}

.open-discord-btn {
  background: rgb(243, 243, 243);
  color: inherit;
  display: none;
  text-decoration: none;
  font-size: .9rem;
  border-radius: 40px;
  margin: 0 16px 0 0;
  padding: 7px 16px;
}

.menu {
  display: flex
}

.menu button,
.menu svg {
  width: 40px;
  color: white;
  font-weight: bold;
}


/*<<<<<< MOBILE NAV MENU CONTAINER >>>>>>>*/

.nav-mobile__nav-mobile-links-container-wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 330px;
  border-radius: 12px 0 0 12px;
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 9999;
  padding: 8px 28px 0px 24px;
  transition: ease-out .5s;
}

.nav-mobile-links-container__top-menu {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 8px;
}

.close-icon {
  height: 24px;
  padding: 0;
}

.close-icon svg {
  height: 24px;
  margin-left: 35px;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 34px;
}

.company-name {
  font-size: .8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--ff-heading);
}

/* change color of company name title that's not in menu container */
.nav-mobile__logo-container .company-name {
  color: white;
}

.spacer {
  border: .5px solid rgb(235, 237, 239);
  margin: 20px 0;
  margin: 24px 0 16px;
}

/* --------------- */

.nav-links {
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-size: 16px;
}

.nav-links li,
.nav-link-extended-link {
  padding: 8px 16px;
}

.nav-link-extended-link {
  display: flex;
  align-items: center;
}

.extra-info-toggle {
  padding: 0;
  display: flex;
  color: black;
}

.extra-info-toggle svg {
  width: 20px;
  font-weight: bold;
  margin-left: 10px;
}

/* Download button in menu */
.google-play-download-btn {
  background: rgb(88, 101, 242);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  align-self: center;
  border-radius: 24px;
  max-width: 282px;
  max-height: 38px;
  padding: 18px 20px;
  margin: 0 0 24px 0;
}

.google-play-download-btn svg {
  width: 20px;
  margin-right: 8px;
}

/* JS MANIPULATION CLASSES */

.js-show-menu-toggle {
  right: 0%;
}


/* ========================== */

/* <<<<<<<<Hero Section>>>>>>> */
.hero {
  background: #404EED;
  width: 100%;
  position: relative;
}

.hero-body {
  padding: 56px 24px;
}

.hero-text-title {
  font-size: 1.5rem;
  font-family: var(--ff-heading);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: .9;
  color: white;
}

.hero-text-description {
  font-family: var(--ff);
  color: white;
  font-size: clamp(.8rem, 2vw, 1.25rem);
  line-height: 1.8;
  margin-top: 24px;
}

.hero__hero-download-btn {
  background: white;
  display: flex;
  align-items: center;
  max-width: 410px;
  font-family: var(--ff);
  padding: 14px 32px;
  border-radius: 34px;
  margin-top: 24px;
}

.hero__hero-img-container {
  position: relative;
  left: -80px;
  bottom: 0;
}

.foreground-right-img, .hero-bg-img, .hero-bg-clouds {
  display: none;
}


.hero__hero-download-btn a {
  color: inherit;
  font-size: 1.25rem;
  text-decoration: none;
}

.hero__hero-download-btn svg {
  margin: 0 8px 0 0;
  width: 28px;
  height: 22.547px;
}


/* ---------------------- */
/* ---------------------- */

/* FEATURES SECTION */

.features-container__feature {
  width: 100%;
  padding: 56px 26px;
  margin: 0 auto;
}

.features-container__feature:nth-child(even) {
  background: #fff;
}

.features-container__feature:nth-child(odd) {
  background: #F6F6F6;
}

.features-container__feature img {
margin: 24px 0 0 0;
}

.feature-text-content {
  margin: 20px 0 0 0;
}

.feature-title {
  font-size: 1.25rem;
  font-family: var(--ff);
}

.feature-title--bold {
  font-size: 1rem;
    font-family: var(--ff-heading);
    font-weight: var(--fw800);
}

.feature-description {
  font-size: .9rem;
  font-family: var(--ff);
  font-weight: var(--fw300);
  margin: 24px 0 0 0;
}



/* ANIMATION SELECTORS FOR HIDDEN CONTENT */

.hideContent {
  opacity: 0;
  transform: translateY(30px);
}

.showContent {
  opacity: 1;
  transition: 1.2s ease-in-out;
  transform: translateY(0px);
}

/* --------------------------- */

/*<<<<<<<<<<<<START YOUR JOURNEY CONTAINER>>>>>>>>>>>>*/

.start-your-journey-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin: 56px auto;
}

.stars-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 49px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.stars-bg img {
max-width: 531px;
}

.start-your-journey-container h4 {
  font-family: var(--ff);
  font-weight: var(--fw700);
  font-size: 32px;
  text-align: center;
  margin: 30px 0 0 0;
}

.download-google-play-btn {
    background: #5865f2;
    color: white;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(220px, 44vw, 700px);
    text-decoration: none;
    font-family: var(--ff);
    padding: 16px 32px;
    margin: 40px 0 0 0;
}


  .download-google-play-btn svg { 
    max-width: 20px;
    min-height: 26px;
    margin: 0 8px 0 0;
}



/* ------------------------------- */
/* ------------------------------- */

/* FOOTER SECTION */

footer {
  padding: 80px 0 64px 0;
  background: #23272A;
}

.footer-content {
  padding: 20px;
}


/* <<<<<<<<<< LANGUAGES-CONTAINER>>>>>>>>>>> */

.language-wrapper {
  position: relative;
  margin: 24px 0;
}

.info-box-container__dropmenu {
  background: white;
  border-radius: 6px;
  position: absolute;
  max-height: 180px;
  min-width: 140px;
  bottom: 100%;
  flex-direction: column;
  overflow-y: auto;
  overscroll-behavior: contain ;
}

.info-box-container__dropmenu::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
background: #C0C0C0;
border-radius: 14px;
}

.dropmenu-item {
  display: flex;
  align-items: center;
  font-size: .8rem;
  margin-top: 4px;
}

.dropmenu-item button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.selected-dropdown-lang {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.selected-dropdown-lang svg {
  width: 14px;
}

.country-flag-img img {
  width: 20px;
}

.languageMenuToggle {
  display: none;
}

/*<<<<<<<<<<<< SOCIAL-MEDIA-CONTAINER >>>>>>>>>*/

.info-box-container__socials {
display: flex;
gap: 20px;
margin: 24px 0 0 0;
}


.socials-media img {
  width: 20px;
}


/*<<<<<<<<<<< RESOURCES CONTAINER >>>>>>>>>>>>>>>*/

.footer-resources-container {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0 0 0;
  flex: 1;
}

.footer-resource {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.footer-resource:nth-child(3), .footer-resource:nth-child(4) { 
  margin: 40px 0 0 0;
}

.footer-resource h5 {
  color: #404EED;
  font-family: var(--ff);
  font-weight: var(--fw300);
  margin: 14px 0;
}

.footer-resource a {
  color: white;
  font-family: var(--ff);
  font-weight: var(--fw300);
  text-decoration: none;
}

.footer-download-container {
  border-top: 1px solid #404EED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 0 0;
  margin: 40px 0 0 0;
}

.footer-download-btn {
  background: #404EED;
  color: white;
  padding: 7px 16px;
  border-radius: 40px;
  text-decoration: none;
}

.footer-company-name {
  color: white;
  font-family: var(--ff-heading);
  font-size: .8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}




/*<<<<<<<=<< MEDIA QUERIES >>>>>>>>>>>> */


/* ****** MEDIA QUERIES 770px ****** */
@media (min-width: 770px) {


  /* HERO SECTION: */
.hero {
  overflow: hidden;
}

.hero-body {
  height: 600px;
  position: relative;
  z-index: 100;
  bottom: 0;
  padding: 80px 40px 200px 40px;
}

.hero-text {
  max-width: 600px;
}

.hero__hero-img-container {
  display: flex;
  width: 2500px;
  height: 100%;
  position: absolute;
}

.foreground-left-img {
  display: none;
}

.foreground-right-img {
  display: block;
  align-self: self-end;
  width: 600px;
  position: relative;
  bottom: 0;
  left: 500px;
  z-index: 99;
  }
  
 .hero-bg-clouds {
  display: block;
  width: 2560px;
  position: absolute;
  bottom: 0;
  right: 700px;
  z-index: 0;
}
/* ---------------- */
/* NAVBAR  770px */
.open-discord-btn {
  display: block;
}


}

