@import url('https://fonts.cdnfonts.com/css/druk-wide-bold');


:root {
  --ff-heading: 'Druk Wide Bold', sans-serif;
  --ff: 'Noto Sans', sans-serif;
  --fw100: 100;
  --fw200: 200;
  --fw300: 300;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;
  --fw800: 800;
  --fw900: 900;

button-bg-varient01: #404EED;
}

html {
  min-width: 320px;
}

/*<<<<<<<<<<  MOBILE NAVBAR >>>>>>>>>>>>>*/


.mobile-wrapper__nav-mobile {
  padding: 0 20px;
  background: #404EED;
}

.nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.nav-mobile__logo-container a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu {
  display: flex
}

.menu button,
.menu svg {
  width: 40px;
  color: white;
  font-weight: bold;
}


/*<<<<<< MOBILE NAV MENU CONTAINER >>>>>>>*/

.nav-mobile__nav-mobile-links-container-wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: clamp(350px, 70%, 100%);
  border-radius: 12px 0 0 12px;
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 9999;
  padding: 8px 28px 0px 24px;
  transition: ease-out .5s;
}

.nav-mobile-links-container__top-menu {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 8px;
}

.close-icon {
  height: 24px;
  padding: 0;
}

.close-icon svg {
  height: 24px;
  margin-left: 35px;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 34px;
}

.company-name {
  font-size: .8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--ff-heading);
}

/* change color of company name title that's not in menu container */
.nav-mobile__logo-container .company-name {
  color: white;
}

.spacer {
  border: .5px solid rgb(235, 237, 239);
  margin: 20px 0;
  margin: 24px 0 16px;
}

/* --------------- */

.nav-links {
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-size: 16px;
}

.nav-links li,
.nav-link-extended-link {
  padding: 8px 16px;
}

.nav-link-extended-link {
  display: flex;
  align-items: center;
}

.extra-info-toggle {
  padding: 0;
  display: flex;
  color: black;
}

.extra-info-toggle svg {
  width: 20px;
  font-weight: bold;
  margin-left: 10px;
}

/* Download button in menu */
.google-play-download-btn {
  background: rgb(88, 101, 242);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  align-self: center;
  border-radius: 24px;
  max-width: 282px;
  max-height: 38px;
  padding: 18px 20px;
  margin: 0 0 24px 0;
}

.google-play-download-btn svg {
  width: 20px;
  margin-right: 8px;
}

/* JS MANIPULATION CLASSES */

.js-show-menu-toggle {
  right: 0%;
}


/* ========================== */

/* <<<<<<<<Hero Section>>>>>>> */
.hero {
  background: #404EED;
  width: 100%;
}

.hero-body {
  padding: 56px 24px;
}

.hero-text-title {
  font-size: 1.5rem;
  font-family: var(--ff-heading);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: .9;
  color: white;
}

.hero-text-description {
  font-family: var(--ff);
  color: white;
  font-size: clamp(.8rem, 2vw, 1.25rem);
  line-height: 1.8;
  margin-top: 24px;
}

.hero__hero-download-btn {
  background: white;
  display: flex;
  align-items: center;
  max-width: 410px;
  font-family: var(--ff);
  padding: 14px 32px;
  border-radius: 34px;
  margin-top: 24px;
}

.hero__hero-img-container {
  position: relative;
  left: -80px;
  bottom: 0;
}

.hero__hero-download-btn a {
  color: inherit;
  font-size: 1.25rem;
  text-decoration: none;
}

.hero__hero-download-btn svg {
  margin: 0 8px 0 0;
  width: 28px;
  height: 22.547px;
}


/* ---------------------- */
/* ---------------------- */

/* FEATURES SECTION */

.features-container__feature {
  width: 100%;
  padding: 56px 26px;
  margin: 0 auto;
}

.features-container__feature:nth-child(even) {
  background: #fff;
}

.features-container__feature:nth-child(odd) {
  background: #F6F6F6;
}

.features-container__feature img {
margin: 24px 0 0 0;
}

.feature-text-content {
  margin: 20px 0 0 0;
}

.feature-title {
  font-size: 1.25rem;
  font-family: var(--ff);
}

.feature-title--bold {
  font-size: 1rem;
    font-family: var(--ff-heading);
    font-weight: var(--fw800);
}

.feature-description {
  font-size: .9rem;
  font-family: var(--ff);
  font-weight: var(--fw300);
  margin: 24px 0 0 0;
}



/* ANIMATION SELECTORS FOR HIDDEN CONTENT */

.hideContent {
  opacity: 0;
}

.showContent {
  opacity: 1;
  transition: 1.2s ease-in-out;
}

/* --------------------------- */

/*<<<<<<<<<<<<START YOUR JOURNEY CONTAINER>>>>>>>>>>>>*/

.start-your-journey-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin: 56px auto;
}

.stars-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 49px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.stars-bg img {
max-width: 531px;
}

.start-your-journey-container h4 {
  font-family: var(--ff);
  font-weight: var(--fw700);
  font-size: 32px;
  text-align: center;
  margin: 30px 0 0 0;
}

.download-google-play-btn {
    background: #5865f2;
    color: white;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(220px, 44vw, 700px);
    text-decoration: none;
    font-family: var(--ff);
    padding: 16px 32px;
    margin: 40px 0 0 0;
}


  .download-google-play-btn svg { 
    max-width: 20px;
    min-height: 26px;
    margin: 0 8px 0 0;
}